[submodule "Resources/Public/Template/less/bootstrap"]
	path = Resources/Public/Template/less/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "Resources/Public/Contrib/fancybox"]
	path = Resources/Public/Contrib/fancybox
	url = https://github.com/fancyapps/fancyBox.git
[submodule "Resources/Public/Template/less/fontawesome"]
	path = Resources/Public/Template/less/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
