
<footer>
	<div class="footer row-fluid">
		<div class="span2 socialmedia">
			<f:cObject typoscriptObjectPath="lib.navigation.socialmedia">
				<a href="#"><img src="img/icon/facebook.jpg" alt="facebook"></a>
				<a href="#"><img src="img/icon/twitter.jpg" alt="facebook"></a>
			</f:cObject>
		</div>
		<nav class="span10 footer_nav">
			<ul class="nav nav-pills pull-right">
				<f:cObject typoscriptObjectPath="lib.navigation.footer">
					<li><a href="#">Impressum</a></li>
					<li><a href="#">Kontakt</a></li>
					<li><a href="#">Sitemap</a></li>
					<li><a href="#">AGB</a></li>
					<li class="hidden-phone"><a href="#">Seite drucken</a></li>
				</f:cObject>
			</ul>
		</nav>
	</div>
</footer>