<div class="row section-headerimage">
	<div class="span12">
		<div class="inner">
			<f:cObject typoscriptObjectPath="lib.header_slogan">
				<img class="logo" src="img/logo-government-package.png">
			</f:cObject>
		</div>
	</div>
</div>

<div class="row section-breadcrumb">
	<div class="span12">
		<f:cObject typoscriptObjectPath="lib.navigation.breadcrumb">
			<ul class="breadcrumb">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Library</a>
				</li>
				<li class="active">
					<a href="#">Data</a>
				</li>
			</ul>
		</f:cObject>
	</div>
</div>