{namespace n=Tx_News_ViewHelpers}
<n:excludeDisplayedNews newsItem="{newsItem}" />
<div class="list-group-item articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' top')}">
	<div class="row">
		<div class="col-md-4">
			<f:if condition="{newsItem.falMediaPreviews}">
				<f:then>
					<n:link newsItem="{newsItem}" settings="{settings}">
						<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
							<f:if condition="{mediaElement.originalResource.type} == 2">
								<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 4">
								<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}" />
							</f:if>
						</f:alias>
					</n:link>
				</f:then>
				<f:else>
					<f:if condition="{settings.displayDummyIfNoMedia}">
							<span class="no-media-element">
								<n:link newsItem="{newsItem}" settings="{settings}">
									<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
								</n:link>
							</span>
					</f:if>
				</f:else>
			</f:if>
		</div>
		<div class="col-md-8">
			<h2>
				<n:link newsItem="{newsItem}" settings="{settings}">
					{newsItem.title}
				</n:link>
			</h2>

			<div class="small">
				<n:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</n:format.date>
				<f:if condition="{newsItem.firstCategory}">
					/{newsItem.firstCategory.title}
				</f:if>
			</div>
			<f:if condition="{newsItem.teaser}">
				<f:then>
					<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.teaser}</f:format.crop></f:format.html>
				</f:then>
				<f:else>
					<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
				</f:else>
			</f:if>

			<n:link newsItem="{newsItem}" settings="{settings}">
				<span class="glyphicon glyphicon-chevron-right arrow-small"></span>
				<f:translate key="more-link" />
			</n:link>
		</div>
	</div>
</div>