<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Sorry...</title>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" media="all" href="###BASEURL###/typo3conf/ext/modernpackage/Resources/Public/Template/standalone/error/error.css">

</head>
<body>

<section class="error-page">

	<div class="container">
		<div class="span12">
			<h1>404</h1>

			<h3>Looks like we are <br />in big trouble</h3>

			<a href="###BASEURL###">back</a>

			<div class="clear"></div>
		</div>

	</div>

</section>

<div style="display: none">
	<!-- ERROR DETAILS: ###MESSAGE### -->
</div>
</body>
</html>
