.breadcrumb > li,
.navbar-form.navbar-right .form-group,
.row .filter-group .btn-group {
  zoom: 1;
  display: inline;
}
.breadcrumb > li {
  float: left;
  margin: 0 20px 0 0;
}
.navbar-form .form-control {
  padding-top: 0;
  padding-bottom: 0;
}
.filter-group {
  float: left;
  position: relative;
  z-index: 100;
}
.filter-group .dropdown-menu {
  z-index: 1900;
  margin-top: 0px;
}
main .teaser {
  margin-top: 100px;
  position: relative;
  z-index: 0;
}
