/* tablets and bigger */
@media (min-width: 767px)  {

    /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* News
    /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

    .news:last-child {
        border-bottom: 1px solid #D4D4D4;
    }
}

/* tablets only */
@media (min-width: 767px) and (max-width: 979px) {

    .flexslider .flex-control-nav li {
        margin: 0 1em;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Smartphones & small Tablets
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (max-width: 767px) {
    .hidden {
        width: 0;
        height: 0;
    }
    header .left,
    header .right {
        width: 50%;
        float: left;
    }

    footer .socialmedia {
        text-align: center;
    }

    footer .links {
        text-align: center;
        float:      none !important;

    }

    footer .links ul {
        display:  inline-block;
        float:    none !important;
        /* For IE, the outcast */
        zoom:     1;
        *display: inline;
        margin-bottom: 0em;
    }

    /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* News
    /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

    .news span {
        display: block;
        margin: 1em 0;
        float: none;
    }


    /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* Navigation
    /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

    #main-nav .btn-navbar {
        top:      3em;
        right:    1em;
        position: absolute;
    }

    #main-nav .hide-collapse {
        min-height: 0px;
        background: none;
        border:     none;
    }

    /* FLEXSLIDER */
    .flexslider .flex-control-nav li {
        display: inline-block;
        float:   left;
        margin:  0 0 0 1%;
        width:   32%;
    }

    .flexslider .flex-control-paging li a {
        background:    none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
        box-shadow:    0 0 3px rgba(0, 0, 0, 0.3) inset;
        border-radius: 0;
        cursor:        pointer;
        display:       block;
        height:        1em;
        text-indent:   -9999px;
        width:         100%;
    }

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Smartphones
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (max-width: 480px) {
    #search {
        width: 50px;
    }

    #carousel .flex-viewport {
        height: 60px;
    }

    video {
        max-width:  275px;
        max-height: 195px;
    }

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* old Smartphones
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 320px) {
    video {
        max-width:  235px;
        max-height: 155px;
    }
}

