@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 2cm .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
@media print {
  footer,
  .breadcrumb,
  .bottom-links,
  #datepicker,
  .fancybox-overlay.fancybox-overlay-fixed,
  .flex-control-nav,
  .flex-direction-nav {
    display: none !important;
  }
  .flex-viewport {
    height: 100% !important;
  }
  .flex-viewport ul {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    width: 100% !important;
    height: 100% !important;
    width: inherit !important;
  }
  .flex-viewport li {
    width: 100% !important;
    margin: 1em;
    float: left;
  }
  .flex-viewport li.flex-active-slide {
    display: block !important;
  }
  .flex-viewport li img {
    max-width: 80%;
  }
  .flex-viewport .slides {
    float: none;
    width: 100%;
  }
  .flex-viewport .slides .clone {
    display: none !important;
  }
}
