/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* General Styles
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
body {
    margin-top: 1.5em;
    position:   relative;
}

h1 {
    font-size:   2.5em;
    line-height: 1em;
}

h2 {
    font-size:   1.7em;
    line-height: 1em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1em;
}

video {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    width:        400px;
}

.icon-minus {
    background: url("../img/placeholder/accordion-sprites.png") no-repeat -29px 0;
}

.icon-plus {
    background: url("../img/placeholder/accordion-sprites.png") no-repeat -3px 0;
}

.yoxview figure {
    float:  left;
    margin: 1em;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Header
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header {
    margin-bottom: 1em;
}

header .language {
    list-style: none;
}

header .language li {
    float:        left;
    margin-right: .5em;
}

header .language li.active a {
    color: black;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Footer
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer {
    margin: 1em 0;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Accordion
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.icon-minus {
    background: url("../img/placeholder/accordion-sprites.png") no-repeat -29px 0;
}

.icon-plus {
    background: url("../img/placeholder/accordion-sprites.png") no-repeat -3px 0;
}

.accordion {
    margin-bottom: 0;
}

.accordion-inner {
    border-top: none;
}

.accordion h2 {
    font-size: 1.25em;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Flexslider
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.flexslider .flex-direction-nav .flex-prev {
    left: 5px;
}

.flexslider .flex-direction-nav .flex-next {
    right: 5px;
}

#carousel .flex-viewport .slides li img {
    cursor: pointer;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Sidebar (aside)
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

aside {
    border:        1px solid #E5E5E5;
    border-radius: 4px;
    padding:       0 1em;
}

aside h3 {
    background-color: #EEE;
    padding:          .5em 1em;
    font-size:        1em;
    line-height:      1em;
}

aside article {
    border-bottom: 1px solid #E5E5E5;
}

aside article a {
    display: block;
    margin:  1em 0 3em;
}

aside .accordion-group {
    border: none;
}

aside .accordion-group .accordion-inner {
    padding: 0;
}

aside ul {
    list-style: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Startpage
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.contact-box {
    background-color: #EEE;
    padding:          0 1em;
}

.contact-box i {
    margin-top: .75em;
}

article .muted {
    display:     block;
    line-height: 1.4em;
    margin-top:  -0.75em;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* News
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.news {
    border-top:    1px solid #D4D4D4;
    padding:       2em 0;
    margin-bottom: 1em;
}

.news span {
    margin-top:  -1.5em;
    font-size:   .5em;
    line-height: 1em;
    color:       #777;
    font-weight: normal;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* News-Detail
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.news-detail {
    margin-top: 1em;
}

.news-detail h1 span {
    color:       #777;
    font-weight: normal;
    font-size:   .5em;
    display:     block;
}

.news-detail .teaser {
    font-size:   1.2em;
    line-height: 1.6em;
}

