{namespace n=Tx_News_ViewHelpers}
<!--
	=====================
		Partials/List/Item-latest.html
-->
<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}">
	<!-- header -->
	<div class="header">
		<h4>
			<n:link newsItem="{newsItem}" settings="{settings}">{newsItem.title}</n:link>
		</h4>

		<!-- date -->
		<span class="news-list-date" role="contentinfo">
			<f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
		</span>
	</div>

	<!-- teaser text -->
	<div class="teaser-text">
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<f:format.html>{newsItem.teaser}</f:format.html>
			</f:then>
			<f:else>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="true">{newsItem.bodytext}</f:format.crop></f:format.html>
			</f:else>
		</f:if>
	</div>
</div>
