{namespace n=Tx_News_ViewHelpers}

<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<f:if condition="{settings.backPid}">
		<div class="row-fluid newsarrow">
			<div class="span6">
				<f:link.page pageUid="{settings.backPid}" class="btn pull-left">
					&laquo;
					<f:translate key="back-link" />
				</f:link.page>
			</div>
		</div>
	</f:if>
	<f:if condition="{newsItem}">
		<f:then>
			<n:format.nothing>
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:then>
					<f:else>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
			</n:format.nothing>
			<div class="row-fluid content">
				<section class="span9 news">
					<h2>{newsItem.title}</h2>

					<div class="newsinfo muted">
						<f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
						<f:if condition="{newsItem.author}">
						<span class="news-list-author">
							, <f:translate key="author" arguments="{0:newsItem.author}"></f:translate>
						</span>
						</f:if>
					</div>
					<div class="row-fluid">
						<f:if condition="{newsItem.media}">
							<f:then>
								<div class="span5">
									<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.mediaPreviews, settings:settings, renderPreview:1}" />
								</div>
								<div class="span7">
									<f:if condition="{newsItem.teaser}">
										<p class="lead">
											{newsItem.teaser} </p>
									</f:if>
								</div>
							</f:then>
							<f:else>
								<div class="span12">
									<f:if condition="{newsItem.teaser}">
										<p class="lead">
											{newsItem.teaser} </p>
									</f:if>
								</div>
							</f:else>
						</f:if>

					</div>

					<f:if condition="{newsItem.contentElements}">
						<!-- content elements -->
						<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
					</f:if>

					<f:format.html>{newsItem.bodytext}</f:format.html>

					<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.nonMediaPreviews, settings:settings, renderPreview:0}" />

					<f:if condition="{settings.detail.showSocialShareButtons}">
						<div class="facebook">
							<div class="like">
								<n:social.facebook.like></n:social.facebook.like>
							</div>
							<div class="share">
								<n:social.facebook.share>Share</n:social.facebook.share>
							</div>
							<div class="twitter">
								<n:social.twitter>Twitter</n:social.twitter>
							</div>
						</div>
					</f:if>
				</section>

				<section class="span3 sidebar">
					<div class="sidebarcontent">
						<f:if condition="{newsItem.categories}">
							<h3><f:translate key="categories" /></h3>
							<f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
						</f:if>
						<f:if condition="{newsItem.tags}">
							<h3><f:translate key="tags" /></h3>
							<ul>
								<f:for each="{newsItem.tags}" as="tag">
									<li>{tag.title}</li>
								</f:for>
							</ul>
						</f:if>
						<f:if condition="{newsItem.allRelatedSorted}">
							<!-- Related news records -->
							<div class="news-related news-related-news">
								<h3>
									<f:translate key="related-news" />
								</h3>
								<f:for each="{newsItem.allRelatedSorted}" as="related">
									<article>
										<header>
											<span class="newsinfo muted"><small>
												<f:format.date format="d.m.Y">{related.datetime}</f:format.date>
											</small></span>
											<h4>{related.title}</h4>
										</header>
										<f:if condition="{related.teaser}">
											<p>
												{related.teaser} </p>
										</f:if>
										<p>
											<n:link newsItem="{related}" settings="{settings}">
												<f:translate key="more-link" />&raquo;</n:link>
										</p>
									</article>
									<hr>

								</f:for>
							</div>
						</f:if>
					</div>
				</section>

			</div>
		</f:then>
		<f:else>

		</f:else>
	</f:if>
</f:section>