
RewriteEngine on

# Font Awesome
RewriteRule ^FontAwesome.otf$ ../less/fontawesome/fonts/FontAwesome.otf
RewriteRule ^fontawesome-webfont.eot$ ../less/fontawesome/fonts/fontawesome-webfont.eot
RewriteRule ^fontawesome-webfont.svg$ ../less/fontawesome/fonts/fontawesome-webfont.svg
RewriteRule ^fontawesome-webfont.ttf$ ../less/fontawesome/fonts/fontawesome-webfont.ttf
RewriteRule ^fontawesome-webfont.woff$ ../less/fontawesome/fonts/fontawesome-webfont.woff

# Glyphicons
RewriteRule ^glyphicons-halflings-regular.eot$ ../less/bootstrap/fonts/glyphicons-halflings-regular.eot
RewriteRule ^glyphicons-halflings-regular.svg$ ../less/bootstrap/fonts/glyphicons-halflings-regular.svg
RewriteRule ^glyphicons-halflings-regular.ttf$ ../less/bootstrap/fonts/glyphicons-halflings-regular.ttf
RewriteRule ^glyphicons-halflings-regular.woff$ ../less/bootstrap/fonts/glyphicons-halflings-regular.woff

