<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Modern Package Bootstrap</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=100%, minimum-scale=1.0, maximum-scale=1.0" />

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le styles -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			.sidebar-nav {
				padding: 9px 0;
			}
		</style>
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="css/app.css" rel="stylesheet">

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
		<link href='http://fonts.googleapis.com/css?family=Duru+Sans|Magra|Amethysta|Maven+Pro:400,500,700|Italianno|Junge' rel='stylesheet' type='text/css'>
	</head>

	<body>
	<f:section name="body">
		<f:render partial="Page/topbar" />
		<div class="container main-container">
			<f:render partial="Page/header" />

			<div class="row content-main-section">
				<div class="span3">
					<div class="sidebar-nav">
						<f:cObject typoscriptObjectPath="lib.navigation.sidebar">
							<ul class="nav nav-list">
								<li class="nav-header">Sidebar</li>
								<li class="active"><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a>
									<ul>
										<li><a href="#">Link</a></li>
										<li><a href="#">Link</a></li>
										<li><a href="#">Link</a></li>
										<li><a href="#">Link</a></li>
										<li><a href="#">Link</a></li>
									</ul>
								</li>
								<li><a href="#">Link</a></li>
								<li class="nav-header">Sidebar</li>
								<li><a href="#">Link</a></li>
								<li><a href="#">Link</a></li>
							</ul>
						</f:cObject>
					</div>

					<div class="box ">
						<f:cObject typoscriptObjectPath="lib.extensions.news_latest">
							<ul class="well news-latest-container">
								<li class="news-latest-item">
									<h4><a href="#" title="Klicken um zur Detailansicht zu gelangen: Aktuelle Meldungen ganz einfach verwalten&nbsp;">Aktuelle Meldungen ganz einfach verwalten</a></h4>
									<p>Mit dem News-Modul von TYPO3 verwalten Sie problemlos Ihre...</p>
									<a href="#" title="Klicken um zur Detailansicht zu gelangen: Aktuelle Meldungen ganz einfach verwalten&nbsp;">[mehr]</a>
								</li>
								<li class="news-latest-item">
									<h4><a href="#" title="Klicken um zur Detailansicht zu gelangen: Mehr Reichweite mit RSS-Feeds&nbsp;">Mehr Reichweite mit RSS-Feeds </a></h4>
									<p>Besucher können Ihre Nachrichten abonnieren, News-Services im...</p>
									<a href="#" title="Klicken um zur Detailansicht zu gelangen: Mehr Reichweite mit RSS-Feeds&nbsp;">[mehr]</a>
								</li>
								<li class="news-latest-item">
									<h4><a href="#" title="Klicken um zur Detailansicht zu gelangen: Newsletter mit aktuellen Meldungen&nbsp;">Newsletter mit aktuellen Meldungen</a></h4>
									<p>E-Mail-Newsletter können mit TYPO3 automatisch mit aktuellen...</p>
									<a href="#" title="Klicken um zur Detailansicht zu gelangen: Newsletter mit aktuellen Meldungen&nbsp;">[mehr]</a>
								</li>
							</ul>
						</f:cObject>
					</div>
				</div><!--/span-->
				<div class="span9">
					<f:cObject typoscriptObjectPath="lib.content.main">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn" href="#">View details &raquo;</a></p>

						<br />
						<p>Nulla facilisi. Nulla pulvinar commodo lectus et vehicula. Nam sit amet elit massa. Aenean aliquet sagittis sapien, ut ornare lorem lacinia vitae. Nullam a lacus sit amet quam faucibus iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis eleifend neque, nec auctor quam iaculis ac.</p>
						<p>Etiam aliquam ultrices ante, convallis ultricies sem vehicula non. Phasellus arcu ligula, cursus nec varius auctor, facilisis at sapien. Curabitur quam nisl, faucibus et venenatis vitae, dapibus quis dolor. Nullam molestie scelerisque tristique. Proin et augue a nisi dictum luctus. Proin sit amet lobortis sapien. Curabitur pellentesque ipsum ac odio rhoncus non dignissim purus faucibus.</p>
						<p>Donec congue nisi eu urna iaculis vestibulum quis eu libero. Curabitur tincidunt erat eu magna rutrum posuere. Nulla ac nunc lectus, ut interdum leo. Aliquam non nunc tempor purus viverra gravida ut eu massa. Curabitur commodo molestie mi nec varius. Suspendisse sagittis nunc et nunc tristique a elementum orci ultricies. Sed pulvinar, metus eu accumsan dapibus, mauris tellus tempus risus, non suscipit ante tellus adipiscing elit. Praesent rhoncus lacinia dapibus. Donec lorem dui, luctus ac tempus nec, aliquam sed turpis. In id sodales tellus. Sed eu tellus euismod lacus viverra tincidunt. Aliquam erat volutpat.</p>
						<p>Aliquam porttitor pharetra urna, sed elementum ante molestie lobortis. Integer odio mauris, porta sit amet accumsan non, tincidunt et nunc. Integer orci quam, suscipit at lobortis id, pellentesque et leo. Aenean vitae nisi diam. Pellentesque adipiscing, felis quis feugiat ornare, turpis urna porttitor urna, vel tempus neque sapien ac tortor. Proin elementum enim vel sem tincidunt volutpat. Etiam quis massa quis ante pulvinar fringilla non et sapien. Donec consequat luctus lectus non faucibus. Aliquam ultrices accumsan ligula at rhoncus. Etiam semper arcu a urna posuere hendrerit. Nulla facilisi. Sed auctor congue gravida. Fusce tempus pharetra nisl nec molestie. Fusce a odio vitae risus tristique sodales sed at nulla.</p>

						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Language</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Mark</td>
									<td>Otto</td>
									<td>CSS</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Jacob</td>
									<td>Thornton</td>
									<td>Javascript</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Stu</td>
									<td>Dent</td>
									<td>HTML</td>
								</tr>
							</tbody>
						</table>
					</f:cObject>

					<!--					<div class="meta">
											<a href="#"><i class="icon-print"></i>Print</a>
											<a href="#"><i class="icon-eject"></i>Print</a>
										</div>-->

				</div><!--/span-->
			</div><!--/row-->

		</div>

		<f:render partial="Page/footer" />
	</f:section>

	<!--
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>-->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap-transition.js"></script>
	<script src="js/bootstrap-dropdown.js"></script>

	<!--
	<script src="js/bootstrap-alert.js"></script>
	<script src="js/bootstrap-modal.js"></script>
	<script src="js/bootstrap-scrollspy.js"></script>
	<script src="js/bootstrap-tab.js"></script>
	<script src="js/bootstrap-tooltip.js"></script>
	<script src="js/bootstrap-popover.js"></script>
	<script src="js/bootstrap-button.js"></script>
	<script src="js/bootstrap-collapse.js"></script>-->
	<script src="js/bootstrap-carousel.js"></script>
	<script src="js/jcarousellite_1.0.1.js"></script>
	<script src="js/application.js"></script>
	<!--		<script src="js/bootstrap-typeahead.js"></script>-->

</body>
</html>
