<f:layout name="Default" />
<f:section name="body">

	<div class="container"><!-- BEGIN: container -->
		<f:render partial="Page/header" />

		<section class="content"><!-- BEGIN: CONTENT -->

			<f:cObject typoscriptObjectPath="lib.content.0">
				<div class="flex-container"><!-- BEGIN: SLIDER -->
					<div class="flexslider" id="slideshow">
						<ul class="slides">
							<li>
								<img src="img/gallery/bootstrap-mdo-sfmoma-02.jpg" alt="">

								<p class="flex-caption">Donec id elit non mi porto!</p>
							</li>
							<li>
								<img src="img/gallery/bootstrap-mdo-sfmoma-01.jpg" alt="">

								<p class="flex-caption">This image is so lorem ipsum!</p>
							</li>
							<li><img src="img/gallery/bootstrap-mdo-sfmoma-03.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<!-- END: SLIDER -->
			</f:cObject>
			<hr>

			<section class="row-fluid teaser"> <!-- BEGIN: TEASER -->

				<article class="span6 inner-teaser">
					<div class="row-fluid">
						<f:cObject typoscriptObjectPath="lib.content.11">
							<div class="span6"><a href="#" class="thumbnail"><img src="img/placeholder/260x180.png" alt=""></a></div>
							<div class="span6">
								<h2>Auszug aus Bereich 1</h2>

								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
									fermentum massa justo sit amet risus. Etiam porta sem malesuada magna. </p>

								<p><a class="btn" href="#">View details &raquo;</a></p>
							</div>
						</f:cObject>
					</div>
				</article>

				<article class="span6 inner-teaser">
					<div class="row-fluid">
						<f:cObject typoscriptObjectPath="lib.content.12">
							<div class="span6"><a href="#" class="thumbnail"><img src="img/placeholder/260x180.png" alt=""></a></div>
							<div class="span6">
								<h2>Auszug aus Bereich 2</h2>

								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
									fermentum massa justo sit amet risus. Etiam porta sem malesuada magna. </p>

								<p><a class="btn" href="#">View details &raquo;</a></p>
							</div>
						</f:cObject>
					</div>
				</article>
			</section>
			<!-- END: TEASER -->

			<section class="news-teaser"><!-- BEGIN: NEWS -->
				<div class="row-fluid hidden-desktop hidden-tablet">
					<h2>News</h2>
				</div>
				<div class="row-fluid">
					<f:cObject typoscriptObjectPath="lib.content.3">
						<article class="span4 inner-news-teaser">
							<header>
								<h3>Aktuellste Meldung</h3>
								<span class="muted"><small>21.03.2013</small></span>
							</header>
							<div class="row-fluid">
								<div class="span5">
									<a href="#" class="thumbnail"><img src="img/placeholder/140x120.png" alt=""></a>
								</div>
								<div class="span7">
									<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris... </p>

									<p><a class="btn" href="#">View details &raquo;</a></p>
								</div>
							</div>
						</article>

						<article class="span4 inner-news-teaser">
							<header>
								<h3>Aktuellste Meldung</h3>
								<span class="muted"><small>21.03.2013</small></span>
							</header>
							<div class="row-fluid">
								<div class="span5">
									<a href="#" class="thumbnail"><img src="img/placeholder/140x120.png" alt=""></a>
								</div>
								<div class="span7">
									<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris... </p>

									<p><a class="btn" href="#">View details &raquo;</a></p>
								</div>
							</div>
						</article>
					</f:cObject>
					<div class="span4 contactdata">
						<f:cObject typoscriptObjectPath="lib.content.13"><!-- CONTACT -->
							<h2>Kontaktdaten <i class="icon-envelope pull-right"></i></h2>
							<address>
								<p>Cyberhouse Gmbh<br />Hafenstraße 2a <br />4020 Linz <br /> Tel: +43 (0) 732 / 78 12 98 <br /> Tel: +43 (0) 732 / 78 12 98 -
									220
									<br>
									<a href="mailto:office@cyberhouse.at">office@cyberhouse.at</a><br>
									<a href="#">www.cyberhouse.at</a></p>
							</address>
						</f:cObject>
					</div>
				</div>

			</section>
			<!-- END: NEWS -->
			<div class="row-fluid">
				<a id="up" href="" class="pull-right">to top</a>
			</div>
			<hr>
		</section>
		<!-- END: CONTENT -->

	</div>
	<!-- END: container -->
</f:section>

